.wrapper {
    background-color:  #F5F5F5;
    border-collapse: separate;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    width: 75%;
    padding: 10px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: #005151; 
    height: fit-content;
}

main{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    background-color:#FFFFFF    ;
    color: #005151; 
    margin-top: 10px;
    margin-left: 20px;
}
.table-container {
    display: flex;
    flex-wrap: wrap;
    padding: 8px 30px;
    width: 100%;
    min-height: 100vh;
    background: #fff;
}
.top-padding {
    padding-top: 100px;
}
.wrapper {
    width: 1240px;
}
table {
    border-collapse: separate;
    border-radius: 25px;
    border-collapse: collapse;
    background-color:#005151;
    color: #F5F5F5;
}
td, th {
    font-weight: unset;
    padding-right: 10px;
}
th {
    text-align: left;
    background-color:  #005151 ;
    white-space: nowrap;
}
td{
    background-color: #F5F5F5;
    color: #005151;
    border-top: 1px solid #cfd0d0;
    border-bottom: 1px solid #cfd0d0;
}
.EditButton {
    cursor: pointer;
}